 <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Listing all users</title>
  <link rel="stylesheet" href="/main.css">
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src = "/hello.js"></script>
</head>
<body>
  <h1>Here are our users!</h1>
  <% @users.each do |user| %>
    <h2><%= user[:name]%></h2><button><a href="/users/<%= user[:id]%>"> Edit User</a></button>

  <% end %>
  <p>
   <button> <a href="/users/new">Add User!</a></button>
  </p>
</body>
</html>
