<span style="text-align:center">
<h1>WELCOME TO THE MOVIE-ACTOR DATABASE!</h1>


<h2><%= link_to "ACTORS", actors_path, :class=>"btn btn-info btn-lg" %>

<%= link_to "MOVIES", movies_path, :class=>"btn btn-info btn-lg"  %></h2>

</span>