<h1>Your search for <%= @zipcode %></h1>

<% if @zipcode == '95035' %>
  <h3>
    Sun is shining the weather is sweet, yeah
    No umbrella needed.
  </h3>
<% end %>

<% if @zipcode == '98101' %>
  <h3>
    Do you even Rain Bro?
    Umbrella needed!
  </h3>
<% end %>
