.form {
width: 350px;
height: 50px;
margin-left: auto;
margin-right: auto;
margin-bottom: 5px;
margin-top: 20px;
}

.movtitle {
background-color: #fff;
width: 350px;
/*height: 40px;*/
margin-left: auto;
margin-right: auto;
margin-bottom: 10px;
}
.movie {
background-color: #fff;
background-size: cover;
width: 330px;
height: 490px;
margin-left: auto;
margin-right: auto;
}